- hosts: all
  become: no
  roles:
    - role: homebrew
      when: ansible_os_family == "Darwin"
    - personal
    - scripts
    - role: dotfiles
      tags: dotfiles
    - role: macos
      become: yes
      tags: macos
      when: ansible_os_family == "Darwin"
    - role: packages
      tags: packages
    - role: k8s
      tags: k8s
    - git
    - shell
    - neovim
    - role: opencode
      tags: opencode
