- hosts: all
  become: no
  roles:
    - personal
    - scripts
    - role: dotfiles
      tags: dotfiles
    - role: macos
      become: yes
      tags: macos
    - role: homebrew
      tags: homebrew
    - git
    - kitty
    - zsh
    - nvim
