---
- name: Set global Git user name
  git_config:
    name: user.name
    value: "{{ git_user_name }}"
    scope: global

- name: Set global Git user email
  git_config:
    name: user.email
    value: "{{ git_user_email }}"
    scope: global


- name: Set global Git user email
  git_config:
    name: pull.rebae
    value: "{{ git_user_email }}"
    scope: global

- name: Ensure SSH directory exists
  file:
    path: "{{ ansible_env.HOME }}/.ssh"
    state: directory
    mode: '0700'

- name: Disable automatic rebasing on git pull
  git_config:
    name: pull.rebase
    value: false
    scope: global

- name: Disable pager for git branch
  git_config:
    name: pager.branch
    value: false
    scope: global

- name: Generate SSH key for Git (if it does not exist)
  community.crypto.openssh_keypair:
    path: "{{ ansible_env.HOME }}/.ssh/id_rsa"
    type: rsa
    size: 2048
    force: no

- name: Set pager to delta
  git_config:
    name: core.pager
    value: delta
    scope: global
