---
# Install neovim from tarball (Linux)

- name: Download and extract neovim
  become: yes
  ansible.builtin.shell: |
    curl -L https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz -o /tmp/nvim-linux64.tar.gz
    tar xzf /tmp/nvim-linux64.tar.gz -C /opt
    rm /tmp/nvim-linux64.tar.gz
  args:
    creates: /opt/nvim-linux64

- name: Symlink nvim to /usr/local/bin
  become: yes
  ansible.builtin.file:
    src: /opt/nvim-linux64/bin/nvim
    dest: /usr/local/bin/nvim
    state: link
