---
# Install neovim from tarball (Linux)

- name: Download and extract neovim
  become: yes
  ansible.builtin.shell: |
    curl -sL https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz | tar xz -C /opt
  args:
    creates: /opt/nvim-linux64

- name: Symlink nvim to /usr/local/bin
  become: yes
  ansible.builtin.file:
    src: /opt/nvim-linux64/bin/nvim
    dest: /usr/local/bin/nvim
    state: link
