---
# Install neovim from tarball (Linux)

- name: Download neovim tarball
  become: yes
  ansible.builtin.unarchive:
    src: https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz
    dest: /opt
    remote_src: yes
    creates: /opt/nvim-linux64

- name: Symlink nvim to /usr/local/bin
  become: yes
  ansible.builtin.file:
    src: /opt/nvim-linux64/bin/nvim
    dest: /usr/local/bin/nvim
    state: link
